/* Color de todas las páginas*/

div{
    font-family: Sahitya;
    color: #201E1A;  
}

h1{
    position: absolute;
width: 246px;
height: 39px;
left: 57px;
top: 36px;

font-family: Sahitya;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 37px;
text-align: center;

color: #FFFFFF;
}


h2{
    font-family: Sahitya;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 37px;
text-align: center;

color: #FFFFFF;
}

h3{  
  font-size: 22px;  
  background: -webkit-linear-gradient(left top, red, yellow);
  background: linear-gradient(to bottom right, red, yellow);
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent;   
}
/* HOME */
    /*Posición de "Logo"*/

img{

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0.72%;
    bottom: 0.72%;
    
    background: #000000;
}   

/* HOME*/
input{
    position: absolute;
width: 161px;
height: 53px;
left: 66px;
top: 366px;

background: linear-gradient(101.85deg, #EF314C 41.47%, #EFA617 99.32%);
border: 1px solid #A2A1D7;
box-sizing: border-box;
}