body{
    text-align: center;
    position: relative;

    background: #201E1A;
}

/*ESTILO PARA INDEX*/
h1{

    font-family: Sahitya;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    text-align: center;
    background: -webkit-linear-gradient(left top, #EF573B, #EF9D1B);
    background: linear-gradient(to bottom right, #EF573B, #EF9D1B);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent; 
}
#formulario{

    font-family: Sahitya;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 37px;
    text-align: center;

    color: #E7F6FE;

    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}
.text{
    width: 258px;
    height: 148px;

    font-family: Sahitya;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;

    background: linear-gradient(96.87deg, #EF314C 41.47%, #EFA617 99.32%);
    border: 1px solid #A2A1D7;
    box-sizing: border-box;
}
#cantidadDesplazamiento{
    width: 258px;
    height: 68px;

    
    background: linear-gradient(104.69deg, #EF314C 41.47%, #EFA617 99.32%);
    border: 1px solid #A2A1D7;
    box-sizing: border-box;
}

/*Dar estilo a las imagenes por CSS*/

#logoSecreto {
    width: 117px;
    height: 115px;
} 
#returnButton{
    width: 65px;
    height: 62px;
}
#shareButton{
    width: 62px;
    height: 60px;
}
#exitButton{
    width: 53px;
    height: 58px;
}
#encodeButton{
    width: 53px;
    height: 58px;

}
#decodeButton{
    width: 53px;
    height: 58px;

}